@model ComicBook

@{
    ViewData["Title"] = "Xóa truyện";
}

<h1>Xóa truyện</h1>

<h3>Bạn có chắc muốn xóa truyện này?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-3">Tên truyện</dt>
        <dd class="col-sm-9">@Model.Title</dd>
        <dt class="col-sm-3">Tác giả</dt>
        <dd class="col-sm-9">@Model.Author</dd>
        <dt class="col-sm-3">Giá thuê / ngày</dt>
        <dd class="col-sm-9">@Model.PricePerDay.ToString("N0") đ</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ComicBookID" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
