@model ComicBook

@{
    ViewData["Title"] = "Chi tiết truyện";
}

<h1>Chi tiết truyện</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Tên truyện</dt>
        <dd class="col-sm-9">@Model.Title</dd>
        <dt class="col-sm-3">Tác giả</dt>
        <dd class="col-sm-9">@Model.Author</dd>
        <dt class="col-sm-3">Giá thuê / ngày</dt>
        <dd class="col-sm-9">@Model.PricePerDay.ToString("N0") đ</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ComicBookID" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
